body{
    background-color: rgb(26, 26, 26);
    color:rgb(211, 211, 211);
    display:flex;
    margin:auto;
    align-items: center;
    flex-direction: column;
    font-family: 'IBM Plex Serif', serif;
}

.navbar{
    background-color: rgb(20, 20, 20);
    padding: 7px;
    width:100%;
    box-sizing:border-box;
    display:flex;
    justify-content: space-between;
    position:fixed;
}

.main-content{
    width:800px;
    margin-top: 38px;

    display:flex;
}

.body-div{
    margin:10px;
    width:600px;
    display:flex;
    flex-direction: column;

}

.toc{
    margin:10px;
    width:200px;
    display:flex;
}

a{
    text-decoration: none;
    color:rgb(160, 160, 160);
}

a:hover{
    text-decoration: solid;
    opacity: 50%;
}

.toc{
    margin:0px;
    margin-top: 95px;
}

li::marker{
    content:'';
}

li{
    transition: margin-left 0.5s;
    padding:4px;
}
li:hover{
    margin-left: 10px;
}

p{
    text-indent: 10px;
}

ul{
    position:fixed;
}

.article-title{
    text-indent: 10px;
    font-size: 24px;
}
h4{
    text-indent: 10px;
    font-size: 18px;
}

.article-top{
    font-size: 18px;
    color:rgb(194, 194, 194);
}